

{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Welcome back</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Log In</h2>
                        <form action="{%url 'login' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" class="text" name="username" placeholder="User Name" required="" autofocus autocomplete="off">
                            <input type="password" class="password" name="password" placeholder="User Password" required="" autofocus autocomplete="off">
                            <button class="btn" type="submit">Log In</button>
                        </form>
                        
                        <p class="account">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="{% static 'img/1.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        
        <!-- //copyright-->
    </section>


{% endblock content %}